.kitchen_list_css{
  padding-left: 30px;
  color: #D8F800;
  font-size: 18px;
}

.kitchen_title_css{
  text-align: center;
  padding-right: 20%;
  font-size: 40px;
  background: linear-gradient(-45deg, #74E600, #00B358, #D5F800, #DF004F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes{
  width: 40%;
  height: 520px;
}

.kitchen_list_css ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
}

.kitchen_list_css li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.kitchen_list_css li::before {

  font-size: 1.5rem;
  text-align: right;
  min-width: 50px;
  padding-right: 12px;
  background-image: linear-gradient(to top, #D5F800, #EF6C9A);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kitchen_list_css li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.text_kitchen{
  float: left;
  position: relative;
	cursor: pointer;
}

.text_kitchen:hover ~ .kitchen_img_css {
  display: block;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 1;
}

.text_kitchen:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #E3FC3F;
	content: "";
	transition: width 0.4s ease-out;
  bottom: -13px;
}

.text_kitchen:hover:after,
.text_kitchen:focus:after {
	width: 22vw;
}

.kitchen_img_css{
  opacity: 0;
  width: 40%;
  position: absolute;
  left: 650px;
  top: 16rem;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;

}










.kitchen_list_css2{
  color: #D8F800;
  font-size: 18px;
}

.kitchen_title_css2{
  text-align: center;
  padding-right: 20%;
  font-size: 40px;
  background: linear-gradient(-45deg, #74E600, #00B358, #D5F800, #DF004F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes2{
  padding-left: 70%;
  height: 520px;
}

.kitchen_list_css2 ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;

}

.kitchen_list_css2 li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.kitchen_list_css2 li::before {

  font-size: 1.5rem;
  text-align: right;
  min-width: 50px;
  padding-right: 12px;
  background-image: linear-gradient(to top, #D5F800, #EF6C9A);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kitchen_list_css2 li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.text_kitchen2{
  float: right;
  position: relative;
	cursor: pointer;
}

.text_kitchen2:hover ~ .kitchen_img_css2 {
  display: block;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 1;
}

.text_kitchen2:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #E3FC3F;
	content: "";
	transition: width 0.4s ease-out;
  bottom: -13px;
}

.text_kitchen2:hover:after,
.text_kitchen2:focus:after {
	width: 22vw;
}

.kitchen_img_css2{
  opacity: 0;
  width: 40%;
  position: absolute;
  right: 650px;
  top: 800px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;

}
