.topmenu{
  position: fixed;
  z-index: 1;
  width: 110%;
  background: rgba(18, 14, 33, 0.8);
  color: white;
  margin: -10px;
}

.topmenu ul{
  list-style: none;
}

.topmenu li{
  float: left;
}

.children{
  padding-top: 150px;
  width: 80%;
  padding-left: 150px;
  padding-bottom: 110%;
}
